<header>
  <%= image_tag "pk_logo.png", id: "header_logo" %>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "About", about_index_path %>
    <%= link_to "Experience", experience_index_path %>
    <%= link_to "What can I do for you?", do_for_you_index_path %>
    <%= link_to "Contact", contact_index_path %>
  </nav>
</header>
</header>
<div id="experience_body">
  <h1 id="exp_header">Experience</h1>
  <br>
  <div class="experience_section" id="experience_section_first">
    <div class="exp-txt">
      <h1>Positions Held</h1>
    </div>
    <div class="exp-imgs">
      <a href="#"><%= image_tag "sapientnitro-logo.png", class: "experience-logo", id: "logo-1" %></a>
      <a href="#"><p class="logo-txt", id="exp-1">VP, Managing Director + Client Services</p></a>
      <a href="#"><%= image_tag "bbdo-logo.png", class: "experience-logo", id: "logo-2" %></a>
      <a href="#"><p class="logo-txt", id="exp-2">Executive VP, Client Service Director</p></a>
      <a href="#"><%= image_tag "ck-logo.png", class: "experience-logo" , id: "logo-3" %></a>
      <a href="#"><p class="logo-txt", id="exp-3">Senior VP, Group Account Director</p></a>
      <a href="#"><%= image_tag "jwt-logo.png", class: "experience-logo", id: "logo-4" %></a>
      <a href="#"><p class="logo-txt", id="exp-4">Senior Partner, Brand Strategist</p></a>
      <a href="#"><%= image_tag "all-logo.png", class: "experience-logo", id: "logo-5" %></a>
      <a href="#"><p class="logo-txt", id="exp-5">Director of Brand Strategy, Advertising</p></a>
      <a href="#"><%= image_tag "fcb-logo.png", class: "experience-logo", id: "logo-6" %></a>
      <a href="#"><p class="logo-txt", id="exp-6">VP, Management Director</p></a>
    </div>
  </div>
  <div class="experience_section" id="experience_section_second">
    <div class="exp-imgs">
      <%= image_tag "mu-logo.png", class: "edu-logo" %>
      <%= image_tag "uchi-logo.png", class: "edu-logo" %>
      <%= image_tag "harvard-logo.png", class: "edu-logo" %>
    </div>
    <div class="exp-txt" id="exp-txt-2">
      <h1>Education</h1>
    </div>
  </div>
  <div class="experience_section" id="experience_section_first">
    <div class="exp-txt">
      <h1>Volunteer Work</h1>
    </div>
    <div class="exp-imgs">
      <%= image_tag "lc-logo.png", class: "experience-logo", id: "logo-7" %>
      <%= image_tag "mb-logo.png", class: "experience-logo", id: "logo-8" %>
      <%= image_tag "zoo-logo.png", class: "experience-logo", id: "logo-9" %>
      <%= image_tag "fo-logo.png", class: "experience-logo", id: "logo-10" %>
      <%= image_tag "mam-logo.png", class: "experience-logo", id: "logo-11" %>
    </div>
  </div>
</div>
<footer>
  <p>Copyright Patricia Kuehn 2015. All rights reserved.  Built by <a href="http://www.nick-brown-dev.com">nick-brown-dev.com</a></p>
</footer>