<header>
  <%= image_tag "pk_logo.png", id: "header_logo" %>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "About", about_index_path %>
    <%= link_to "Experience", experience_index_path %>
    <%= link_to "What can I do for you?", do_for_you_index_path %>
    <%= link_to "Contact", contact_index_path %>
  </nav>
</header>
</header>
<body id="experience_body">
  <h1 id="exp_header">Experience</h1>
  <div class="underline" id="underline_thirtyfive"></div>
  <br>
  <div class="experience_section" id="experience_section_first">
    <div class="exp-txt">
      <h1>Work Experience</h1>
    </div>
    <div class="exp-imgs">
      <%= image_tag "sapientnitro-logo.png", class: "experience-logo" %>
      <%= image_tag "bbdo-logo.png", class: "experience-logo" %>
      <%= image_tag "ck-logo.png", class: "experience-logo" %>
      <%= image_tag "jwt-logo.png", class: "experience-logo" %>
      <%= image_tag "all-logo.png", class: "experience-logo" %>
      <%= image_tag "fcb-logo.png", class: "experience-logo" %>
    </div>
  </div>
  <div class="experience_section" id="experience_section_second">
    <div class="exp-imgs">
      <%= image_tag "mu-logo.png", class: "edu-logo" %>
      <%= image_tag "uchi-logo.png", class: "edu-logo" %>
      <%= image_tag "harvard-logo.png", class: "edu-logo" %>
    </div>
    <div class="exp-txt" id="exp-txt-2">
      <h1>Education</h1>
    </div>
  </div>
  <div class="experience_section" id="experience_section_first">
    <div class="exp-txt">
      <h1>Volunteer Work</h1>
    </div>
    <div class="exp-imgs">
      <%= image_tag "lc-logo.png", class: "experience-logo" %>
      <%= image_tag "mb-logo.png", class: "experience-logo" %>
      <%= image_tag "zoo-logo.png", class: "experience-logo" %>
      <%= image_tag "fo-logo.png", class: "experience-logo" %>
      <%= image_tag "mam-logo.png", class: "experience-logo" %>
      <%= image_tag "mf-logo.png", class: "experience-logo" %>
    </div>
  </div>
</body>
<footer>
  <p>Copyright Patricia Kuehn 2015. All rights reserved.  Built by <a href="http://www.nick-brown-dev.com">nick-brown-dev.com</a></p>
</footer>