<header>
  <%= image_tag "pk_logo.png", id: "header_logo" %>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "About", about_index_path %>
    <%= link_to "Experience", experience_index_path %>
    <%= link_to "What can I do for you?", do_for_you_index_path %>
    <%= link_to "Contact", contact_index_path %>
  </nav>
</header>
</header>
<body id="experience_body">
  <h1>Experience Page</h1>
  <div class="underline" id="underline_forty"></div>
  <br>
  <p>Accomplished senior leader with a proven track record in energizing and growing people, teams, accounts and business.<br>Over 30 years of experience building collaborative relationships that enable positive business outcomes.<br>Skilled business, brand and communication strategist.  Entrepreneurial mindset with a passion for pioneering new business endeavors and taking on turnarounds.  Often cast as a change agent.</p>
  <div class="experience_section" id="experience_section_first">
    <h1>Work Experience</h1>
    <div class="underline" id="underline_thirtyfive"></div>
  </div>
</body>
<footer>
  <p>Copyright Patricia Kuehn 2015. All rights reserved.  Built by <a href="http://www.nick-brown-dev.com">nick-brown-dev.com</a></p>
</footer>