<header>
  <a href="#top"><%= image_tag "pk_logo.png", id: "header_logo" %></a>
  <nav>
    <a href="#about">About</a>
    <a href ="#do_for_you">What Can Patricia Do For You?</a>
    <a href="#experience">Experience</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
<body>
  <a name="top" class="jump"></a>
  <%= image_tag "pkc_banner_home_1.jpg", id: "landing_banner_img" %>
  <div id="section_first" class="landing_section">
  <a name="about" class="jump"></a>
    <h1>PKConsulting Brings Over Thirty Years of Experience to You With a Smile</h1>
    <div class="underline"></div>
    <p>Patricia Kuehn is an accomplished senior leader with a proven track record in energizing people and growing teams, accounts and business.  She has over thirty years of experience building collaborative relationships that enable positive business outcomes.  Her skills include business, brand and communication strategies. With an entrepreneurial mindset and a passion for pioneering new business endeavors, Patricia is prepared to take on turnarounds, and is often cast as a change agent.</p>
  </div>
  <div id="section_second">
    <a name="experience" class="jump"></a>
    <h1>Some of the Brands Patricia has Influenced</h1>
    <div class="underline" id="underline_forty"></div>
    <div id="body_cont">
      <div class="logo_row" id="row_one">
        <a href="#"><%= image_tag "Illinois-lottery.png", class: "body_logo", id: "logo_one" %></a>
        <a href="#"><%= image_tag "keybank-logo.png", class: "body_logo", id: "logo_two" %></a>
        <a href="#"><%= image_tag "heinz-logo.png", class: "body_logo", id: "logo_three" %></a>
      </div>
      <a href="#"><div id="banner_one" class="logo_banner">
        <%= image_tag "Illinois-lottery.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div></a>
      <a href="#"><div id="banner_two" class="logo_banner">
        <%= image_tag "keybank-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div></a>
      <a href="#"><div id="banner_three" class="logo_banner">
        <%= image_tag "heinz-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div></a>
      <div class="logo_row" id="row_two">
        <a href="#"><%= image_tag "truecredit-logo.png", class: "body_logo", id: "logo_four" %></a>
        <a href="#"><%= image_tag "corona-logo.png", class: "body_logo", id: "logo_five" %></a>
        <a href="#"><%= image_tag "negramodelo-logo.png", class: "body_logo", id: "logo_six" %></a>
      </div>
      <a href="#"><div id="banner_four" class="logo_banner">
        <%= image_tag "truecredit-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div></a>
      <a href="#"><div id="banner_five" class="logo_banner">
        <%= image_tag "corona-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div></a>
      <a href="#"><div id="banner_six" class="logo_banner">
        <%= image_tag "negramodelo-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div></a>
      <div class="logo_row" id="row_three">
        <a href="#"><%= image_tag "sox-logo.png", class: "body_logo", id: "logo_seven" %></a>
        <a href="#"><%= image_tag "allstate-logo.png", class: "body_logo", id: "logo_eight" %></a>
        <a href="#"><%= image_tag "kraft-logo.png", class: "body_logo", id: "logo_nine" %></a>
      </div>
      <a href="#"><div id="banner_seven" class="logo_banner">
        <%= image_tag "sox-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div></a>
      <a href="#"><div id="banner_eight" class="logo_banner">
        <%= image_tag "allstate-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div></a>
      <a href="#"><div id="banner_nine" class="logo_banner">
        <%= image_tag "kraft-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div></a>
    </div>
  </div>
  <div id="section_third" class="landing_section">
    <a name="do_for_you" class="jump"></a>
    <h1>Patricia is Ready to Help Your Brand</h1>
    <div class="underline" id="underline_thirtyfive"></div>
    <p>Do you have a project that Patricia can help you with?  Why not find out?  Start a dialogue today to find out how Patricia can give your company the branding and exposure it needs to go to the next level.</p>
    <a href="/contact" class="no_decoration"><h2>Click here to start the conversation!</h2></a>
  </div>
  <div id="experience_body">
  <h1 id="exp_header">Experience</h1>
  <br>
  <div class="experience_section" id="experience_section_first">
    <div class="exp-txt">
      <h1>Positions Held</h1>
    </div>
    <div class="exp-imgs">
      <a href="#"><%= image_tag "sapientnitro-logo.png", class: "experience-logo", id: "logo-1" %></a>
      <a href="#"><p class="logo-txt", id="exp-1">VP, Managing Director + Client Services</p></a>
      <a href="#"><%= image_tag "bbdo-logo.png", class: "experience-logo", id: "logo-2" %></a>
      <a href="#"><p class="logo-txt", id="exp-2">Executive VP, Client Service Director</p></a>
      <a href="#"><%= image_tag "ck-logo.png", class: "experience-logo" , id: "logo-3" %></a>
      <a href="#"><p class="logo-txt", id="exp-3">Senior VP, Group Account Director</p></a>
      <a href="#"><%= image_tag "jwt-logo.png", class: "experience-logo", id: "logo-4" %></a>
      <a href="#"><p class="logo-txt", id="exp-4">Senior Partner, Brand Strategist</p></a>
      <a href="#"><%= image_tag "all-logo.png", class: "experience-logo", id: "logo-5" %></a>
      <a href="#"><p class="logo-txt", id="exp-5">Director of Brand Strategy, Advertising</p></a>
      <a href="#"><%= image_tag "fcb-logo.png", class: "experience-logo", id: "logo-6" %></a>
      <a href="#"><p class="logo-txt", id="exp-6">VP, Management Director</p></a>
    </div>
  </div>
<!--   <div class="experience_section" id="experience_section_second">
    <div class="exp-imgs">
      <%= image_tag "mu-logo.png", class: "edu-logo" %>
      <%= image_tag "uchi-logo.png", class: "edu-logo" %>
      <%= image_tag "harvard-logo.png", class: "edu-logo" %>
    </div>
    <div class="exp-txt" id="exp-txt-2">
      <h1>Education</h1>
    </div>
  </div> -->
  <div class="experience_section" id="experience_section_second">
    <div class="exp-imgs">
      <%= image_tag "lc-logo.png", class: "experience-logo", id: "logo-7" %>
      <%= image_tag "mb-logo.png", class: "experience-logo", id: "logo-8" %>
      <%= image_tag "zoo-logo.png", class: "experience-logo", id: "logo-9" %>
      <%= image_tag "fo-logo.png", class: "experience-logo", id: "logo-10" %>
      <%= image_tag "mam-logo.png", class: "experience-logo", id: "logo-11" %>
    </div>
    <div class="exp-txt" id="exp-txt-2">
      <h1>Volunteer Work</h1>
    </div>
  </div>
</div>
<div id="contact_body">
  <div class="container">
    <a name="contact" class="jump"></a>
    <h1>Let's Start a Conversation</h1>
    <p>Patricia can't wait to learn more about you and your vision. Start talking about your goals today so that she can help turn them into realities.</p>
    <div class="underline"></div>
    <a href="mailto:contact@pkconsulting.com?Subject=Hi Patty, Someone Wants to Get in Touch!" class="no_style_link">
      <div id="mail_div">
        <%= image_tag "mail.png", id: "mail" %>
        <p class="no_margin"><br>contact@pkconsulting.com</p>
      </div>
    </a>
      <p class="top_margin">You can also check her out on:</p>
      <br>
      <p class="no_margin"><a href="https://www.linkedin.com/pub/patty-cohen/6/154/21a" class="no_style_link" id="linkedin">linkedin</a></p>
      <p class="no_margin"><a href="#" class="no_style_link" id="twitter">twitter</a></p>
  </div>
</div>
  <footer>
    <p>Copyright Patricia Kuehn 2015. All rights reserved.  Built by <a href="http://www.nick-brown-dev.com">nick-brown-dev.com</a></p>
  </footer>
</body>