<header>
  <%= image_tag "pk_logo.png", id: "header_logo" %>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "About", about_index_path %>
    <%= link_to "Experience", experience_index_path %>
    <%= link_to "What can I do for you?", do_for_you_index_path %>
    <%= link_to "Contact", contact_index_path %>
  </nav>
</header>
<body>
  <%= image_tag "pkc_banner_home_1.jpg", id: "landing_banner_img" %>
  <div id="section_first" class="landing_section">
    <h1>PKConsulting Brings Over Thirty Years of Experience to You With a Smile</h1>
    <div class="underline"></div>
    <p>This is a section of text where Patty talks about what sets her apart from her competition, breifly mentioning her illustrious career and exemplary intangibles.  This section finishes with an emphasis, letting the reader know what Patty brings to the table is above and beyond that of her competitors.</p>
  </div>
  <div id="section_second">
    <h1>Some of the Brands Patricia has Influenced</h1>
    <div class="underline" id="underline_second"></div>
    <div id="body_cont">
      <div class="logo_row" id="row_one">
        <%= image_tag "Illinois-lottery.png", class: "body_logo", id: "logo_one" %>
        <%= image_tag "keybank-logo.png", class: "body_logo", id: "logo_two" %>
        <%= image_tag "heinz-logo.png", class: "body_logo", id: "logo_three" %>
      </div>
      <div id="banner_one" class="logo_banner">
        <%= image_tag "Illinois-lottery.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div>
      <div id="banner_two" class="logo_banner">
        <%= image_tag "keybank-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div>
      <div id="banner_three" class="logo_banner">
        <%= image_tag "heinz-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div>
      <div class="logo_row" id="row_two">
        <%= image_tag "truecredit-logo.png", class: "body_logo", id: "logo_four" %>
        <%= image_tag "corona-logo", class: "body_logo", id: "logo_five" %>
        <%= image_tag "negramodelo-logo.png", class: "body_logo", id: "logo_six" %>
      </div>
      <div id="banner_four" class="logo_banner">
        <%= image_tag "truecredit-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div>
      <div id="banner_five" class="logo_banner">
        <%= image_tag "corona-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div>
      <div id="banner_six" class="logo_banner">
        <%= image_tag "negramodelo-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div>
      <div class="logo_row" id="row_three">
        <%= image_tag "sox-logo.png", class: "body_logo", id: "logo_seven" %>
        <%= image_tag "allstate-logo.png", class: "body_logo", id: "logo_eight" %>
        <%= image_tag "kraft-logo.png", class: "body_logo", id: "logo_nine" %>
      </div>
      <div id="banner_seven" class="logo_banner">
        <%= image_tag "sox-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div>
      <div id="banner_eight" class="logo_banner">
        <%= image_tag "allstate-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div>
      <div id="banner_nine" class="logo_banner">
        <%= image_tag "kraft-logo.png", class: "banner_logo" %>
        <p class="banner_text">This is a large amount of filler text that will talk about how specifically Patty impacted this brand, and where she was working when she did it.  It will be very impressive to the reader, and they will immediately hire Patty because they are so impressed.</p>
      </div>
    </div>
  </div>
  <div id="section_third" class="landing_section">
    <h1>Patricia is Ready to Help Your Brand</h1>
    <div class="underline" id="underline_third"></div>
    <p>Do you have a project that Patricia can help you with?  Why not find out?  Start a dialogue today to find out how Patricia can give your company the branding and exposure it needs to go to the next level.</p>
    <a href="/contact" class="no_decoration"><h2>Click here to start the conversation!</h2></a>
  </div>
  <footer>
    <p>Copyright Patricia Kuehn 2015. All rights reserved.  Built by <a href="http://www.nick-brown-dev.com">nick-brown-dev.com</a></p>
  </footer>
</body>