<header>
  <%= image_tag "Burger_King_Logo.svg", id: "header_logo" %>
  <nav>
    <p>About Me</p>
    <p>Experience</p>
    <p>What can I do for you?</p>
    <p>Contact</p>
  </nav>
</header>
<body>
  <%= image_tag "pkc_banner_home_1.jpg", id: "landing_banner_img" %>
  <div id="section_first" class="landing_section">
    <h1>PKConsulting Brings Over Thirty Years of Experience to You With a Smile</h1>
    <div class="image_cont"><%= image_tag "underline.png", class: "underline" %></div>
    <p>This is a section of text where Patty talks about what sets her apart from her competition, breifly mentioning her illustrious career and exemplary intangibles.  This section finishes with an emphasis, letting the reader know what Patty brings to the table is above and beyond that of her competitors.</p>
  </div>
  <div id="section_second" class="landing_section">
    <h1>Some of the Brands Patricia has Worked on...</h1>
    <div class="image_cont"><%= image_tag "underline.png", class: "underline" %></div>
    <div id="body_cont">
      <%= image_tag "Burger_King_Logo.svg", class: "body_logo" %>
      <%= image_tag "Burger_King_Logo.svg", class: "body_logo" %>
      <%= image_tag "Burger_King_Logo.svg", class: "body_logo" %>
      <%= image_tag "Burger_King_Logo.svg", class: "body_logo" %>
      <%= image_tag "Burger_King_Logo.svg", class: "body_logo" %>
      <%= image_tag "Burger_King_Logo.svg", class: "body_logo" %>
      <%= image_tag "Burger_King_Logo.svg", class: "body_logo" %>
      <%= image_tag "Burger_King_Logo.svg", class: "body_logo" %>
      <%= image_tag "Burger_King_Logo.svg", class: "body_logo" %>
    </div>
  </div>
</body>