<header>
  <%= image_tag "pk_logo.png", id: "header_logo" %>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "About Me", about_index_path %>
    <%= link_to "Experience", experience_index_path %>
    <%= link_to "What can I do for you?", do_for_you_index_path %>
    <%= link_to "Contact", contact_index_path %>
  </nav>
</header>
<body id="about_body">
  <h1>Let Me Tell You a Little Bit About Myself</h1>
  <div class="underline"></div>
</body>