<header>
  <%= image_tag "pk_logo.png", id: "header_logo" %>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "About", about_index_path %>
    <%= link_to "Experience", experience_index_path %>
    <%= link_to "What can I do for you?", do_for_you_index_path %>
    <%= link_to "Contact", contact_index_path %>
  </nav>
</header>
<body id="about_body">
  <h1>About Patricia</h1>
</body>
<footer>
  <p>Copyright Patricia Kuehn 2015. All rights reserved.  Built by <a href="http://www.nick-brown-dev.com">nick-brown-dev.com</a></p>
</footer>