<header>
  <%= image_tag "pk_logo.png", id: "header_logo" %>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "About Me", about_index_path %>
    <%= link_to "Experience", experience_index_path %>
    <%= link_to "What can I do for you?", do_for_you_index_path %>
    <%= link_to "Contact", contact_index_path %>
  </nav>
</header>
<body id="contact_body">
  <div class="container">
    <h1>Let's Start a Conversation</h1>
    <p>Patricia can't wait to learn more about you and your vision. Start talking about your goals today so that she can help turn them into realities.</p>
    <div class="underline"></div>
    <a href="mailto:contact@pkconsulting.com?Subject=Hi Patty, Someone Wants to Get in Touch!" class="no_style_link">
      <div id="mail_div">
        <%= image_tag "mail.png", id: "mail" %>
        <p class="no_margin"><br>contact@pkconsulting.com</p>
      </div>
    </a>
      <p class="top_margin">You can also check her out on:</p>
      <br>
      <p class="no_margin"><a href="https://www.linkedin.com/pub/patty-cohen/6/154/21a" class="no_style_link" id="linkedin">linkedin</a></p>
      <p class="no_margin"><a href="#" class="no_style_link" id="twitter">twitter</a></p>
  </div>
  <footer>
    <p>Copyright Patricia Kuehn 2015. All rights reserved.  Built by <a href="http://www.nick-brown-dev.com">nick-brown-dev.com</a></p>
  </footer>
</body>